body {
  padding-top: 5rem;
}

.buttons {
	width: 100px;
	height:100px;
}
#red {
	background:red;
	border-top-left-radius: 100px;
}

#blue {
	background:blue;
	border-top-right-radius: 100px;
}

#green {
	background:green;
	border-bottom-right-radius: 100px;
}

#yellow {
	background:yellow;
	border-bottom-left-radius: 100px;
}
